@page
@model MesaSolidariaApi.Pages.Donation.AcknowledgmentModel
@{
    ViewData["Title"] = "Obrigado pela Contribuição";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Obrigado por sua generosidade! Sua contribuição é uma peça fundamental para tornar o mundo mais justo. Agradecemos muito pela sua doação.</p>
</div>
