@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MesaSolidariaApi.Pages.Register.SubmitPackagesModel
@{
    ViewData["Title"] = "Formulário de Doação de Pacotes";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <div class="form-group">
            <label for="doador">Doador:</label>
            <input type="text" class="form-control" id="doador" name="doador">
            <span asp-validation-for="Donator" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="arroz">Arroz:</label>
            <input type="number" class="form-control" id="arroz" name="arroz">
            <span asp-validation-for="Rice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="feijao">Feijão:</label>
            <input type="number" class="form-control" id="feijao" name="feijao">
            <span asp-validation-for="Bean" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="oleo">Óleo:</label>
            <input type="number" class="form-control" id="oleo" name="oleo">
            <span asp-validation-for="Oil" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Doação</button>
    </form>
</div>