@page
@model MesaSolidariaApi.Pages.Donation.NewDonationModel
@{
    ViewData["Title"] = "Doação";
}

<div class="text-center">
    <h1 class="display-4">Faça a Diferença</h1>
    <p class="paragraph">Escolha como você gostaria de contribuir:</p>

    <div class="options">
        <a asp-controller="Register" asp-action="SubmitProducts" class="btn btn-primary">Doar Pacotes</a>
        <a asp-controller="Register" asp-action="SubmitProducts" class="btn btn-primary">Produtos Separados</a>
     </div>
</div>