@page
@model MesaSolidariaApi.Views.Donation.AcknowledgmentModel


<div class="container">
    <p>Obrigado por sua generosidade! Sua contribuição é uma peça fundamental para tornar o mundo mais justo. Agradecemos muito pela sua doação.</p>
</div>
