@page
@model MesaSolidariaApi.Views.Donation.IndexModel

<body>
    <div class="text-center">
        <h1 class="display-4">Bem-vindo à Mesa Solidária</h1>
        <p class="paragraph">
            Em nossa jornada dedicada a nutrir corações e fortalecer esperanças, brilha intensamente a 'Mesa Solidária', uma ONG que ilumina o caminho da generosidade ao receber e distribuir alimentos básicos como óleo, feijão e arroz.
        </p>

        <p class="paragraph">
            A 'Mesa Solidária' transcende a simples distribuição de alimentos; ela se transforma em um refúgio repleto de amor e compaixão. Cada doação se converte em uma cesta repleta de nutrição e calor, enquanto cada saco de arroz e garrafa de óleo torna-se um gesto que ressoa esperança nos lares que mais necessitam.
        </p>

        <p class="paragraph">
            Essa organização é uma fonte de inspiração, incentivando comunidades a se unirem em solidariedade. Ela nos lembra de que, unidos, podemos superar desafios. A 'Mesa Solidária' não apenas alimenta corpos, mas também nutre a alma de nossa comunidade, tornando-se um símbolo de apoio e amor nos momentos mais difíceis.
        </p>

        <p class="paragraph">
            Que o trabalho incansável da 'Mesa Solidária' continue a inspirar e alimentar não apenas estômagos, mas também os laços que conectam nossas comunidades em uma rede duradoura de compaixão.
        </p>
    </div>
</body>
