@model MesaSolidariaApi.Views.Donation.SubmitProducts

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <div class="form-group">
            <label for="doador">Doador:</label>
            <input asp-for="Product.Donator" class="form-control"/>
            <span asp-validation-for="Product.Donator" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="arroz">Arroz:</label>
            <input asp-for="Product.Rice" class="form-control"/>
            <span asp-validation-for="Product.Rice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="feijao">Feijão:</label>
            <input asp-for="Product.Bean" class="form-control"/>
            <span asp-validation-for="Product.Bean" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="oleo">Óleo:</label>
            <input asp-for="Product.Oil" class="form-control"/>
            <span asp-validation-for="Product.Oil" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Doação</button>
    </form>
</div>