@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MesaSolidariaApi.Views.Donation.TransparencyModel

<div class="container">
    <h1>"Transparência do Projeto Social"</h1>

    <div class="btn-group" role="group">
        <a class="btn btn-info" asp-controller="Donation" asp-action="StorageUpdated" >Estoque Atualizado</a> 
        <a class="btn btn-info" asp-controller="Donation" asp-action="StorageUpdated" >Estoque Atualizado</a> 
    </div>
</div>