@page
@model MesaSolidariaApi.Pages.IndexModel
@{
    ViewData["Mesa Solidária"] = "Página inicial";
}

<!DOCTYPE html>
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Mesa Solidária</h1>
        <p class="paragraph">
            Na missão vital de alimentar corações e esperanças, destaca-se a ONG 'Mesa Solidária', um farol de generosidade dedicado a receber e distribuir alimentos básicos como óleo, feijão e arroz.
       
            'Mesa Solidária' vai além de uma simples distribuição; é um refúgio de amor e compaixão, onde cada doação se transforma em uma cesta de nutrição e calor. Cada saco de arroz e cada garrafa de óleo são gestos que ecoam esperança nos lares que mais precisam.
       
            Esta organização inspira comunidades a se unirem em solidariedade, lembrando-nos de que juntos podemos superar desafios. 'Mesa Solidária' não apenas alimenta corpos, mas nutre a alma da comunidade, tornando-se um símbolo de apoio e amor em tempos difíceis.
       
            Que o trabalho incansável da 'Mesa Solidária' continue a inspirar e alimentar não apenas estômagos, mas também os laços que unem nossas comunidades em uma rede de compaixão duradoura.
        </p>
    </div>
</body>
