/* Add your custom styles here */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', cursive;
  background-color: #ffbf82;
}

.text-center {
  text-align: center;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Add the existing styles from your _Layout.cshtml file here */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-navbar {
  background-color: #ffbf82;
}

.custom-navbar .navbar-brand {
  color: #ffbf82;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffbf82;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #ffbf82;
}

.logo-img {
  width: 50%;
  height: auto;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

